body {
  text-align: center;
  margin: 0;
}

header {
  background-color: rgb(183, 120, 243);
  width: 100%;
  height: 10rem;
  align-content: center;
  color: white;
  font-size: 2rem;
}

h2 {
  margin: 1rem;
  color: grey;
}

#explanationParagraph {
  margin-bottom: 0;
}

label {
  display: block;
  margin-top: 0.5rem;
  margin-bottom: 0;
  font-size: 1.5rem;
  color: rgb(63, 62, 62);
}

input {
  text-transform: uppercase;
  border: 2px solid grey;
  border-radius: 8px;
  height: 2rem;
  width: 10rem;
}

button {
  display: block;
  margin: 0.5rem auto;
  cursor: pointer;
}

#game-board {
  display: grid;
  list-style: none;
  width: 28rem;
  height: 28rem;
  margin: 1.5rem auto;
  padding: 0;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

#game-board li {
  color: white;
  text-align: center;
  align-content: center;
  font-size: 2rem;
  text-transform: uppercase;
  border-radius: 8px;
  line-height: 0%;
}

#warning1 {
  display: none;
  background-color: red;
  margin: 1rem auto;
  width: 30%;
}

#warning2 {
  display: none;
  background-color: red;
  margin: 1rem auto;
  width: 30%;
}

.grey {
  background-color: rgb(222, 220, 220);
}

.matching-purple {
  background-color: rgb(183, 120, 243);
}

.includes-purple {
  background-color: rgb(217, 189, 243);
}
