body {
  text-align: center;
  margin: 0;
}

#backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
}

header {
  width: 100%;
  height: 10rem;
  align-content: center;
  color: white;
  background-color: rgb(183, 120, 243);
  font-size: 2rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.75);
}

h1 {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.75);
}

#game-logic-btn {
  margin: 2rem auto;
  height: 2rem;
  border: 2px solid rgb(183, 120, 243);
  background-color: rgb(217, 189, 243);
}

#explanation-paragraph {
  display: none;
  position: fixed;
  width: 60%;
  height: 5rem;
  left: 17%;
  border: 2px solid rgb(183, 120, 243);
  border-radius: 4px;
  padding: 2rem;
  margin-top: -2rem;
  background-color: rgb(243, 239, 239);
  color: rgb(183, 120, 243);
}

label {
  display: block;
  margin-top: 0.5rem;
  margin-bottom: 0;
  font-size: 1.5rem;
  color: rgb(63, 62, 62);
}

input {
  text-transform: uppercase;
  border: 2px solid grey;
  border-radius: 8px;
  height: 2rem;
  width: 10rem;
}

button {
  display: block;
  margin: 0.5rem auto;
  cursor: pointer;
}

#congrats-paragraph {
  display: none;
  font-size: 2rem;
}

#didnt-find-word-paragraph {
  display: none;
  font-size: 2rem;
}

#word-of-the-day {
  font-size: 2rem;
  text-transform: uppercase;
  padding: 0.5rem;
  color: white;
  background-color: rgb(183, 120, 243);
  border-radius: 4px;
  text-shadow: 2px 2px 2px rgb(112, 110, 110);
}

#game-board {
  display: grid;
  list-style: none;
  width: 28rem;
  height: 28rem;
  margin: 1.5rem auto;
  padding: 0;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

#game-board li {
  color: white;
  text-align: center;
  align-content: center;
  font-size: 2rem;
  text-transform: uppercase;
  border-radius: 8px;
  line-height: 0%;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.75);
}

aside ul {
  position: absolute;
  top: 31.5rem;
  right: 5rem;
  display: grid;
  list-style: none;
  width: 9rem;
  height: 9rem;
  padding: 0.5rem;
  border: 3px solid rgba(183, 120, 243, 0.7);
  gap: 0.3rem;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

aside li {
  text-align: center;
  align-content: center;
  border-radius: 8px;
  line-height: 0%;
  background-color: rgb(222, 220, 220);
  box-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.75);
}

#warning1 {
  display: none;
  background-color: red;
  margin: 1rem auto;
  width: 30%;
}

#warning2 {
  display: none;
  background-color: red;
  margin: 1rem auto;
  width: 30%;
}

.grey {
  background-color: rgb(222, 220, 220);
}

.matching-purple {
  background-color: rgb(183, 120, 243);
}

.includes-purple {
  background-color: rgb(216, 187, 243);
}

.dark-grey {
  background-color: rgb(112, 110, 110);
}

#restart-btn {
  display: none;
}

@media (max-width: 768px) {
  header {
    height: 6rem;
    font-size: 1.2rem;
  }

  #game-logic-btn {
    margin-top: 0.7rem;
    margin-bottom: 0.5rem;
  }

  #explanation-paragraph {
    height: 9rem;
  }

  label {
    font-size: 1.2rem;
  }

  #game-board {
    width: 14rem;
    height: 14rem;
    margin: 1.5rem auto;
    padding: 0;
    gap: 0.5rem;
  }

  aside ul {
    top: 18.5rem;
    width: 6.5rem;
    height: 6.5rem;
    padding: 0.5rem;
    gap: 0.2rem;
  }
}

@media (max-width: 480px) {
  header {
    align-content: center;
    height: 4rem;
    font-size: 0.8rem;
  }

  #game-logic-btn {
    font-size: 0.6rem;
    margin: 0.5rem auto;
    height: 1.5rem;
  }

  #explanation-paragraph {
    height: 13rem;
  }

  label {
    margin-top: 0.5rem;
    margin-bottom: 0;
    font-size: 0.75rem;
  }

  input {
    text-transform: uppercase;
    border: 2px solid grey;
    border-radius: 8px;
    height: 1rem;
    width: 7rem;
  }

  #write-to-board-btn {
    font-size: 0.6rem;
  }

  #game-board {
    width: 12rem;
    height: 12rem;
    margin: 0.7rem auto;
    padding: 0;
    gap: 0.5rem;
  }

  #game-board li {
    font-size: 1.5rem;
  }

  aside ul {
    position: relative;
    top: 0;
    right: 0;
    margin: 0 auto;
    width: 6rem;
    height: 6rem;
    padding: 0.5rem;
    gap: 0.2rem;
  }

  #congrats-paragraph,
  #didnt-find-word-paragraph,
  #word-of-the-day {
    font-size: 1.4rem;
  }
}
